{
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:jest/recommended",
        "plugin:react/jsx-runtime",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/no-shadow": "off",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "format": null,
                "leadingUnderscore": "allow",
                "selector": "variable"
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "react/no-unstable-nested-components": [
            "error",
            {
                "allowAsProps": true
            }
        ],
        "react/require-default-props": "off",
        "react/static-property-placement": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "src/mobile/App.dev.tsx",
                    "src/mock/**/*",
                    "src/jest.setup.ts"
                ]
            }
        ],
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "order": "asc"
                },
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling"
                ],
                "newlines-between": "always",
                "pathGroups": [
                    {
                        "group": "internal",
                        "pattern": "@/**"
                    }
                ]
            }
        ],
        "import/prefer-default-export": "off",
        "jest/expect-expect": "off",
        "no-underscore-dangle": "off",
        "react/function-component-definition": [
            "error",
            {
                "namedComponents": "function-declaration"
            }
        ],
        "react/jsx-props-no-spreading": "off",
        "react/jsx-sort-props": ["error"],
        "semi": ["error", "never"]
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    }
}
