# Eslint
.eslintcache

# Expo
.expo

# GraphQL
src/schema.graphql

# Jest
coverage/

# MacOS
.DS_Store

# Node
node_modules/
yarn-error.log
.env

# VScode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
