# Development
src/AppDev.tsx

# Dotenv
.env

# Eslint
.eslintcache

# Expo
.expo/
eas-service-account.json

# Firebase
web-build/
.firebase/

# GraphQL
*.graphql

# MacOS
.DS_Store

# Node
node_modules/
yarn-error.log