[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ariadne = "*"
ariadne-django = "*"
pillow = "*"
pydantic = "*"

[dev-packages]
black = "*"
isort = "*"
coverage = "*"
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.9"
