[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
ariadne = "*"
firebase-admin = "*"

[dev-packages]
black = "*"
coverage = "*"
model-bakery = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
