[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-graphql-jwt = "*"
python-decouple = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"
coverage = "*"
model-bakery = "*"
snapshottest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
